<div class="section-{{ section.id }}-padding testimonials-{{ section.id }} color-{{ section.settings.color_scheme }}">
  <h2>{{ section.settings.title }}<span> ♥ </span></h2>

  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <!-- Slide 1 -->
      {% for block in section.blocks %}
        <div class="swiper-slide">
          <div class="testimonial-card">
            <img class="headshot" src="{{ block.settings.image | img_url:'master' }}" alt="Person {{ forloop.index }}">
            <div class="user-details">
            <div class="text">
              <p>{{ block.settings.content }}</p>
              <!-- <a href="#">Read more</a> -->
            </div>
            <div class="profile">
              <div class="user-details">
                <img class="user-img" src="{{ block.settings.image2 | img_url:'master' }}" alt="profile{{ forloop.index }}">
                <strong>{{ block.settings.title }}</strong>
              </div>
              <img class="social-icon" src="{{ block.settings.image3 | img_url:'master' }}" alt="platform-image">
            </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- Arrows -->
    <div class="swiper-button-prev custom-nav">prev</div>
    <div class="swiper-button-next custom-nav">next</div>
    <div class="swiper-pagination"></div>
  </div>
</div>

<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 1,
    spaceBetween: 30,
    loop: false,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints: {
      768: {
        slidesPerView: 2,
      },
      1024: {
        slidesPerView: 3,
      }
    }
  });
</script>
{% schema %}
  {
      "name": "Franke Testinomial",
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "background-1"
        },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
      ],
      "blocks": [
        {
          "name": "Block",
          "type": "Block",
          "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Customer Image"
            },
            {
              "type": "text",
              "id":"content",
              "label":"Discription"
            },
            {
              "type": "image_picker",
              "id": "image2",
              "label": "Customer Profile Image"
            },
            {
              "type": "text",
              "id":"title",
              "label":"Customer Name"
            },
            {
              "type": "image_picker",
              "id": "image3",
              "label": "Platform Image"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Franke Testinomial"
        }
      ]
    }
  {% endschema %}
<style>
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
    .testimonials-{{ section.id }} {
      text-align: center;
    }
    
    .testimonials-{{ section.id }} h2 {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 40px !important;
      margin: 0px;
    }
    
    .testimonials-{{ section.id }} h2 span {
      font-size: 28px;
    }
    
    .testimonials-{{ section.id }} .testimonial-card {
      border-radius: 20px;
      padding: 20px;
      color: black;
      position: relative;
      text-align: left;
      min-height: 309px;
      background-image: url('https://cdn.shopify.com/s/files/1/0579/7557/0520/files/tweet-item-bg.d26236bf5b753cf7722254ff004e84b4.png?v=1744786328');
      background-repeat: no-repeat;
      width: 317px;
      margin-top: 150px;
      margin-left: auto;
      margin-right: auto;
    }
    
    .testimonials-{{ section.id }} .testimonial-card .headshot {
      position: absolute;
      top: -41px;
      left: 50%;
      width: 200px;
      z-index: -1;
      transform: translate(-50%, -50%) !important;
    }
     .testimonials-{{ section.id }} .user-details {
        position: absolute;
        z-index: 5 !important;
    }
    
    .testimonials-{{ section.id }} .testimonial-card .text {
      margin-top: 68px;
      font-size: 15px;
      padding: 0px 20px;
    }
    
    .testimonials-{{ section.id }} .testimonial-card .text a {
      display: inline-block;
      margin-top: 10px;
      font-weight: bold;
      text-decoration: underline;
      color: #8a2c4b;
    }
    
    .testimonials-{{ section.id }} .testimonial-card .profile {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid #ddd;
      margin-top: 20px;
      padding-top: 15px !important;
      padding: 20px;
    }
    .testimonials-{{ section.id }} .testimonial-card .profile .user-details {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .testimonials-{{ section.id }} .profile .user-img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
    
    .testimonials-{{ section.id }} .profile .social-icon {
      width: 20px;
      height: 20px;
      margin-left: auto;
    }
    
    .testimonials-{{ section.id }} .swiper-button-prev, .swiper-button-next {
      background-color: white;
      color: #8a2c4b;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }
    
    .testimonials-{{ section.id }} .swiper-pagination-bullet {
      background: white;
      opacity: 1;
    }
    
    .testimonials-{{ section.id }} .swiper-pagination-bullet-active {
      background: #0E4825;
    }
    .custom-nav {
      font-size: 0px;
      background-color: #579a72 !important;
      padding: 20px;
      color: #fff !important;
      border-radius: 50%;
    }
    .swiper-button-next:after, .swiper-button-prev:after {
      font-size: 20px !important;
    }
    @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
</style>
