
    <style>
        .{{ section.id }}-container {
            max-width: 100%;
            padding: 40px;
        }

        .{{ section.id }}-container h2 {
            color: #064f32;
            font-size: 32px;
            font-weight: bold;
            text-align: center;
            margin: 0px 0px 40px 0px;
        }

        .{{ section.id }}-container .grid {
            display: grid;
            grid-template-columns: auto auto auto auto;
            text-align: center;
            margin-top: 20px;
            gap: 20px;
            width: 90%;
            margin: 0px auto;
        }

        .{{ section.id }}-container .item {
            flex: 1;
            max-width: 200px;
            justify-self: center;
        }

        .{{ section.id }}-container .item img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }

        .{{ section.id }}-container .title {
            font-size: 16px;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 0px;
        }

        .{{ section.id }}-container .description {
            font-size: 14px;
            color: #555;
            margin-top: 5px;
            line-height: 18px;
        }
       @media (max-width: 649px) {
          .{{ section.id }}-container .grid {
            grid-template-columns: auto auto;
            gap: 20px;
          }
         .{{ section.id }}-container{
           padding: 40px 0px;
         }
        }
    </style>


    <div class="{{ section.id }}-container color-{{ section.settings.color_scheme }}">
        <h2>{{ section.settings.title }}</h2>
        <div class="grid">
          {% for block in section.blocks %}
            <div class="item">
                <img src="{{ block.settings.image | img_url:'master' }}" class="color-{{ section.settings.color_scheme }}" alt="block-img">
                <div class="title">{{ block.settings.title }}</div>
                <div class="description">{{ block.settings.sub-title }}</div>
            </div>
          {% endfor %}
        </div>
    </div>
    {% schema %}
{
    "name": "Icon With Title Text",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "background-1"
      }, 
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "coll-desc",
        "label": "Description"
      },
    ],
    "blocks": [
      {
        "name": "Block",
        "type": "Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }, 
          {
            "type": "text",
            "id": "sub-title",
            "label": "Sub Title"
          }, 
        ]
      }
    ],
    "presets": [
      {
        "name": "Icon With Title Text"

      }
    ]
  }
{% endschema %}
