<!-- Swiper HTML Structure -->
    <div class="swiper container-{{ section.id }} page-width color-{{ section.settings.color_scheme }}">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide sub-container-{{ section.id }}">
            <div class="text-content">
              <h2>{{ block.settings.main-title }}</h2>
              <p>{{ block.settings.coll-desc }}</p>
    
              {% if block.settings.btn-url != blank %}
                <a class="know-more-btn button" href="{{ block.settings.btn-url }}">
                  {{ block.settings.btn-text }}
                </a>
              {% endif %}
              <div style="display:flex;">
              {% if block.settings.image != blank and block.settings.title != blank %}
              <div class="icons-container">
                <div class="icon">
                  <img src="{{ block.settings.image | img_url: 'master' }}" alt="block-img" />
                  <p>{{ block.settings.title }}</p>
                </div>
              </div>
            {% endif %}
            {% if block.settings.image2 != blank and block.settings.title2 != blank %}
              <div class="icons-container">
                <div class="icon">
                  <img src="{{ block.settings.image2 | img_url: 'master' }}" alt="block-img" />
                  <p>{{ block.settings.title2 }}</p>
                </div>
              </div>
            {% endif %}
              </div>
            </div>
    
            <div class="image-content">
              <img src="{{ block.settings.main-img | img_url: 'master' }}" alt="main-img" />
            </div>
          </div>
        {% endfor %}
      </div>
    
        <!-- Swiper scrollbar -->
        <div class="swiper-scrollbar"></div>
        
        <!-- Navigation Arrows -->
        <div class="swiper-button-prev arrow-cut">prev</div>
        <div class="swiper-button-next arrow-cut">next</div>
    </div>


  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var swiper = new Swiper(".container-{{ section.id }}", {
        slidesPerView: 1,
        freeMode: false,
        rewind: false,
        spaceBetween: 20,
        scrollbar: {
          el: '.swiper-scrollbar',
          hide: true
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          }
      });
    });
  </script>
    {% schema %}
    {
    "name": "Image with Discription",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "background-1"
      },
    ],
    "blocks": [
      {
        "name": "Block",
        "type": "Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "main-img",
            "label": "Main Image"
          },
          {
            "type": "text",
            "id": "main-title",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "coll-desc",
            "label": "Description"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image 1"
          },
          {
            "type": "text",
            "id":"title",
            "label":"Title 1"
          },
          {
            "type": "image_picker",
            "id": "image2",
            "label": "Image 2"
          },
          {
            "type": "text",
            "id":"title2",
            "label":"Title 2"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image with Discription"
      }
    ]
  }
{% endschema %}
    <style> 
         .sub-container-{{ section.id }}  .swiper-button-prev,
         .sub-container-{{ section.id }}  .swiper-button-next {
          color: #000; 
          width: 40px;
          height: 40px;
        }
        
         .sub-container-{{ section.id }} .swiper-button-prev:hover,
         .sub-container-{{ section.id }} .swiper-button-next:hover {
          color: #ff6600;
        }
        .sub-container-{{ section.id }} {
            display: flex;
            padding: 50px;
            padding-left: 0px;
            padding-right: 0px;
            max-width: 100%;
            margin: 0px auto !important;
            gap: 20px;
            justify-content: center;
          }

        .sub-container-{{ section.id }} .text-content {
            max-width: 50%;
        }

        .sub-container-{{ section.id }} .text-content h2 {
            font-size: 28px;
            color: #394634;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .sub-container-{{ section.id }} .text-content p {
            font-size: 18px;
            color: #555;
            line-height: 1.6;
            text-transform: capitalize;
        }

        .sub-container-{{ section.id }} .icons-container {
            display: flex;
            gap: 50px;
            margin-top: 30px;
            align-items: center;
            width:200px;
            margin-right: 20px;
        }

        .sub-container-{{ section.id }} .icon {
            text-align: center;
            font-size: 16px;
            color: #333;
        }

        .sub-container-{{ section.id }} .icon img {
          width: auto;
          height: 60px;
        }

        .sub-container-{{ section.id }} .image-content {
            max-width: 45%;
        }

        .sub-container-{{ section.id }} .image-content img {
            width: auto;
            border-radius: 50% 0 50% 50%;
            object-fit: cover;
            height: 400px;
        }

        @media (max-width: 900px) {
          
          .sub-container-{{ section.id }} .text-content h1 {
              font-size: 28px;
          }
          .sub-container-{{ section.id }} .text-content{
            max-width: 100% !important;
          }
           .sub-container-{{ section.id }} {
                flex-direction: column;
                padding: 0px;
            }

            .sub-container-{{ section.id }} .image-content {
                max-width: 100% !important;
                width: 100% !important;
            }

            .sub-container-{{ section.id }} .image-content img {
                border-radius: 20px;
            }
           .sub-container-{{ section.id }} .image-content {
                max-width: 80%;
                margin: 20px auto;
            }
            .sub-container-{{ section.id }} .image-content img {
              height: 330px;
          }
        }
      @media (max-width: 600px) {
      .spotlight-container .logos-container {
              grid-template-columns: repeat(1, 1fr) !important;
          }
      }
      .arrow-cut {
          font-size: 0px;
          background-color: #0E4825;
          padding: 20px;
          color: #fff;
          border-radius: 50%;
      }
      .swiper-button-next:after, .swiper-button-prev:after {
        font-size: 20px !important;
      }
    </style>
