{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'collapsible-content.css' | asset_url | stylesheet_tag }}
<style>
  @media screen and (min-width: 750px) {
    .collapsible-content-wrapper-narrow {
      max-width: 90% !important;
    }
  }
  .collapsible-content summary .accordion__title{
    font-size: 15px;
  }
  .collapsible-content summary:hover .accordion__title {
      text-decoration: none !important;
      color: #064F32;
  }
  .collapsible-content summary:hover {
    background: none;
  }
</style>
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
  <div class="{{ section.id }} color-{{ section.settings.color_scheme }} gradient">
    <div class="collapsible-content collapsible-{{ section.settings.layout }}-layout isolate{% if section.settings.layout == 'section' %} page-width{% elsif section.settings.layout == 'none' %} content-container content-container--full-width{% endif %}">
      <div class="collapsible-content__wrapper section-{{ section.id }}-padding{% if section.settings.layout == 'section' %} content-container color-{{ section.settings.container_color_scheme }} gradient{% endif %}">
        <div class="page-width">
          <div
            class="collapsible-content__header{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            style="text-align: {{ section.settings.heading_alignment }};"
          >
            {%- if section.settings.caption != blank -%}
              <p class="caption-with-letter-spacing">
                {{ section.settings.caption | escape }}
              </p>
            {% endif %}
            {%- if section.settings.heading != blank -%}
              <h2 class="collapsible-content__heading inline-richtext {{ section.settings.heading_size }}">
                {{ section.settings.heading }}
              </h2>
            {%- else -%}
              <h2 class="visually-hidden">{{ 'accessibility.collapsible_content_title' | t }}</h2>
            {% endif %}
          </div>
          <div class="grid grid--1-col grid--2-col-tablet collapsible-content__grid{% if section.settings.desktop_layout == 'image_second' %} collapsible-content__grid--reverse{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            {%- if section.settings.image != blank -%}
              <div class="grid__item collapsible-content__grid-item">
                <div
                  class="collapsible-content__media collapsible-content__media--{{ section.settings.image_ratio }} media global-media-settings gradient"
                  {% if section.settings.image_ratio == 'adapt' %}
                    style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"
                  {% endif %}
                >
                  {%- liquid
                    assign padding_multiplier = 1
                    if section.settings.layout == 'section'
                      assign padding_multiplier = 2
                    endif
                    assign desktop_tablet_padding = 100 | times: padding_multiplier | append: 'px'
                    assign mobile_padding = 30 | times: padding_multiplier | append: 'px'
                  -%}
                  {%- capture sizes -%}
                    (min-width: {{ settings.page_width }}px) calc(({{ settings.page_width }}px - {{ desktop_tablet_padding }}) / 2),
                    (min-width: 750px) calc((100vw - {{ desktop_tablet_padding }}) / 2),
                    calc(100vw - {{ mobile_padding }})
                  {%- endcapture -%}
                  {{
                    section.settings.image
                    | image_url: width: 3200
                    | image_tag:
                      sizes: sizes,
                      widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200'
                  }}
                </div>
              </div>
            {% endif %}
            <div class="grid__item color-{{ section.settings.container_color_scheme }}">
              {% if product.metafields.custom.description != blank %}
                {% assign product_desc = product.metafields.custom.description %}
              {% else %}
                 {% assign product_desc = product.description %}
              {% endif %}
               <div
                  class="accordion{% if section.settings.layout == 'row' %} content-container color-{{ section.settings.container_color_scheme }} gradient{% endif %}"
                  {{ block.shopify_attributes }}
                >
                  <details
                    id="Details-{{ block.id }}-{{ section.id }}"
                      open
                  >
                    <summary id="Summary-{{ block.id }}-{{ section.id }}">
                      <h3 class="accordion__title inline-richtext h4">
                        Description
                      </h3>
                      <svg class="icon icon-plus" fill="currentColor" height="30px" width="30px" viewBox="0 0 20 20">
                        <path d="M16,10c0,0.553-0.048,1-0.601,1H11v4.399C11,15.951,10.553,16,10,16c-0.553,0-1-0.049-1-0.601V11H4.601
                        C4.049,11,4,10.553,4,10c0-0.553,0.049-1,0.601-1H9V4.601C9,4.048,9.447,4,10,4c0.553,0,1,0.048,1,0.601V9h4.399
                        C15.952,9,16,9.447,16,10z"></path>
                      </svg>
                      <svg fill="currentColor" height="30px" width="30px" viewBox="0 0 20 20" class="icon-minus" style="display:none">
                        <path d="M16,10c0,0.553-0.048,1-0.601,1H4.601C4.049,11,4,10.553,4,10c0-0.553,0.049-1,0.601-1h10.799C15.952,9,16,9.447,16,10z"></path>
                      </svg>
                    </summary>
                    <div
                      class="accordion__content rte"
                      id="CollapsibleAccordion-{{ block.id }}-{{ section.id }}"
                      role="region"
                      aria-labelledby="Summary-{{ block.id }}-{{ section.id }}"
                    >
                      {% if product.metafields.custom.description != blank %}
                        {{ product_desc | metafield_tag }}
                      {% else %}
                        {{ product_desc }}
                      {% endif %}
                    </div>
                  </details>
                </div>
                <!-- Helth Benefits -->
                {% if product.metafields.custom.health_benefits != blank %}
                  {% assign title = "Helth Benefits" %}
                  {% assign flag = true %}
                  {% render 'collapsed-content-meta' with section:section, block:block, title:title, flag:flag, content:product.metafields.custom.health_benefits %}
                {% endif %}
                <!-- Why Truly Desi -->
                {% if product.metafields.custom.why_truly_desi != blank %}
                  {% assign title = "Why Truly Desi" %}
                  {% assign flag = true %}
                  {% render 'collapsed-content-meta' with section:section, block:block, title:title, flag:flag, content:product.metafields.custom.why_truly_desi %}
                {% endif %}
                {% if product.metafields.custom.serviceable_areas != blank %}
                  {% assign title = "Serviceable Areas" %}
                  {% assign flag = false %}
                  {% render 'collapsed-content-meta' with section:section, block:block, title:title, flag:flag, content:product.metafields.custom.serviceable_areas %}
                {% endif %}
               {% for block in section.blocks %}
                  {% render 'collapsed-content' with section:section, block:block %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% schema %}
{
  "name": "Product-Details",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "caption",
      "label": "t:sections.collapsible_content.settings.caption.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.collapsible_content.settings.heading.label",
      "default": "t:sections.collapsible_content.settings.heading.default"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:sections.collapsible_content.settings.heading_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__3.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.collapsible_content.settings.layout.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.collapsible_content.settings.layout.options__1.label"
        },
        {
          "value": "row",
          "label": "t:sections.collapsible_content.settings.layout.options__2.label"
        },
        {
          "value": "section",
          "label": "t:sections.collapsible_content.settings.layout.options__3.label"
        }
      ],
      "default": "none"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "container_color_scheme",
      "label": "t:sections.collapsible_content.settings.container_color_scheme.label",
      "info": "t:sections.collapsible_content.settings.container_color_scheme.info",
      "default": "scheme-2"
    },
    {
      "type": "checkbox",
      "id": "open_first_collapsible_row",
      "default": false,
      "label": "t:sections.collapsible_content.settings.open_first_collapsible_row.label"
    },
    {
      "type": "header",
      "content": "t:sections.collapsible_content.settings.header.content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.collapsible_content.settings.image.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.collapsible_content.settings.image_ratio.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.collapsible_content.settings.image_ratio.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.collapsible_content.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.collapsible_content.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "desktop_layout",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.collapsible_content.settings.desktop_layout.options__1.label"
        },
        {
          "value": "image_second",
          "label": "t:sections.collapsible_content.settings.desktop_layout.options__2.label"
        }
      ],
      "default": "image_second",
      "label": "t:sections.collapsible_content.settings.desktop_layout.label",
      "info": "t:sections.collapsible_content.settings.desktop_layout.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
      {
        "name": "Block",
        "type": "Block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "discription",
            "label": "Content"
          }
        ]
      },
    {
      "name":"Meta Block",
      "type":"meta_block",
      "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "metafield",
            "label": "Metafield"
          }
        ]
    }
  ],
  "presets": [
    {
      "name": "Product-Details"
    }
  ]
}
{% endschema %}
<style>
  .{{ section.id }} .accordion__title {
      font-size: 18px !important;
      font-size: 20px;
      line-height: 30px;
      font-weight: 600;
      margin: 0;
  }
  .{{ section.id }} .accordion summary {
    padding: 16px !important;
  }
  .{{ section.id }} .accordion__content {
    padding: 16px;
  }
  .{{ section.id }} summary .icon-plus {
    position: absolute;
    height: 2.5rem;
    right: 1.5rem;
    top: 10px;
  }
  .{{ section.id }} summary .icon-minus {
    position: absolute;
    height: 2.5rem;
    right: 1.5rem;
    top: 10px;
  }
</style>
