{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'collapsible-content.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient {{ section.id }} section-{{ section.id }}-padding">
  <p class="section-title">{{ section.settings.main-heading }}</p>
    <h1 class="heading">{{ section.settings.sub-heading }}</h1>
    <p class="description">
        {{ section.settings.main-description }}
    </p>

    <div class="grid-container">
      {% for block in section.blocks %}
      {% if block.settings.show_right_content == true %}
        <div class="grid-item image-box">
            <img src="{{ block.settings.image | img_url:'master' }}" alt="main_img">
        </div>
        <div class="grid-item text-box mission">
            <div class="icon">{% if block.settings.sub-image != blank %}<img src="{{ block.settings.sub-image | img_url:'master' }}" alt="sub_img">{% else %}⛰️{% endif %}</div>
            <h2 style="color: #1f5429;">{{ block.settings.title }}</h2>
            <p>
                {{ block.settings.content }}
            </p>
        </div>
        {% else %}
          <div class="grid-item image-box m-class">
              <img src="{{ block.settings.image | img_url:'master' }}" alt="main_img">
          </div>
          <div class="grid-item text-box vision">
              <div class="icon">{% if block.settings.sub-image != blank %}<img src="{{ block.settings.sub-image | img_url:'master' }}" alt="sub_img">{% else %}🍃{% endif %}</div>
              <h2 style="color: #fff;">{{ block.settings.title }}</h2>
              <p>
                  {{ block.settings.content }}
              </p>
          </div>
          <div class="grid-item image-box d-class">
              <img src="{{ block.settings.image | img_url:'master' }}" alt="main_img">
          </div>
        {% endif %}
      {% endfor %}
    </div>
</div>
{% schema %}
{
  "name": "Text With Image Custom",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "caption",
      "label": "t:sections.collapsible_content.settings.caption.label"
    },
        {
      "type": "inline_richtext",
      "id": "main-heading",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "inline_richtext",
      "id": "sub-heading",
      "label": "Sub Heading",
      "default": "Sub Heading"
    },
    {
      "type": "textarea",
      "id": "main-description",
      "label": "Main Description",
      "default": "description"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 60
    },
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_right_content",
          "default": false,
          "label": "Show Second Content",
          "info": "Show Second Content"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "sub-image",
          "label": "Sub Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text With Image Custom"
    }
  ]
}
{% endschema %}
<style>
    .{{ section.id }}{
      text-align: center;
      background-color: #fff;
      padding: 30px;
    }
    .section-title {
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: bold;
        color: #000;
    }
    .m-class{
      display:none;
    }
    .d-class{
      display:block;
    }
    .heading {
        font-size: 32px;
        font-weight: bold;
        margin: 10px 0;
    }

    .description {
        font-size: 16px;
        color: #777;
        max-width: 700px;
        margin: 0 auto;
        line-height: 1.6;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        max-width: 100%;
        margin: 0px auto;
    }

    .grid-item {
        border-radius: 10px;
        overflow: hidden;
    }

    .image-box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .text-box {
        padding: 30px;
        text-align: left;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .mission {
        background-color: #d9ec83;
        color: #000;
    }

    .vision {
        background-color: #2d572c;
    }

    .text-box h2 {
      font-size: 28px;
      margin-bottom: 10px;
      font-weight: 600;
    }

    .text-box p {
        font-size: 14px;
        line-height: 1.6;
        margin-top: 0px;
    }

    .icon {
        font-size: 50px;
        margin-bottom: 10px;
    }

    @media (max-width: 768px) {
        .grid-container {
            grid-template-columns: 1fr;
        }
        .{{ section.id}} {
            padding: 10px;
        }
        .grid-container {
          grid-gap: 10px;
        }
      .icon {
          margin-bottom: 0px;
          align-self: center;
      }
      .text-box h2 {
          font-size: 22px;
          font-weight: 600;
          text-align: center;
          margin: 0px;
      }
      .text-box p {
        font-size: 14px;
        line-height: 1.4;
        margin-top: 0px;
        text-align: center;
    }
    .text-box {
        padding: 10px;
    }
      .d-class{
        display:none;
      }
      .m-class{
        display:block;
      }
    }
</style>