
  <div class="organic-section color-{{ section.settings.color_scheme }}" section-{{ section.id }}-padding>
    <h2>{{ section.settings.title }}</h2>
    <div class="sub-title">{{ section.settings.coll-desc }}</div>
    <div class="organic-container page-width">
       {% for block in section.blocks %}
          <div class="organic-item">
            <!-- <div class="icon"> -->
              <img src="{{ block.settings.image | img_url:'master' }}" class="icon color-{{ section.settings.color_scheme }}" alt="block-img">
            <!-- </div> -->
            <p class="title">{{ block.settings.title }}</p>
            <p class="sub-title">{{ block.settings.sub-title }}</p>
          </div>
      {% endfor %}
    </div>
  </div>

    {% schema %}
{
    "name": "USP Section",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "background-1"
      }, 
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "coll-desc",
        "label": "Description"
      },
            {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "blocks": [
      {
        "name": "Block",
        "type": "Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }, 
          {
            "type": "text",
            "id": "sub-title",
            "label": "Sub Title"
          }, 
        ]
      }
    ],
    "presets": [
      {
        "name": "USP Section"

      }
    ]
  }
{% endschema %}
  <style>      
        .section-{{ section.id }}-padding {
          padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
          padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
        }
       .organic-section h2 {
            color: #064f32;
            font-size: 28px;
            font-weight: 700;
            margin: 0px;
            margin-bottom: 20px;
            text-align: center;
        }
        .organic-section .sub-title p{
          padding: 0px;
          margin: 0px;
          text-align: center;
          margin-bottom: 20px;
          font-weight: 600;
          color: #00000096;
        }
        .organic-section .organic-container {
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          text-align: center;
          gap: 30px;
        }
        
        .organic-section .organic-item {
          flex: 1 1 130px;
        }
        
        .organic-section .icon {
          background-color: #f1dc47;
          border-radius: 50%;
          width: 100px;
          height: 100px;
          margin: 0 auto 10px auto;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        
        .organic-section .icon img {
          width: 40px;
          height: 40px;
        }
        
        .organic-section .organic-item .title {
          font-size: 16px;
          font-weight: 500;
          line-height: 1.5;
          margin: 0px;
          margin-bottom: 10px;
          font-weight: 600;
          color: #000000;
        }
        @media screen and (max-width: 749px) {
          .organic-section .organic-container {
              display: flex;
              align-items:center;
          }
        }
     @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
          padding-top: {{ section.settings.padding_top }}px;
          padding-bottom: {{ section.settings.padding_bottom }}px;
      }
     }

  </style>
